body {
  font-family: "Segoe UI", sans-serif;
  background: #f0f2f5;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 30px 20px;
}

h1 {
  text-align: center;
  color: #222;
  margin-bottom: 25px;
}

.post-form {
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  margin-bottom: 25px;
}

.post-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
}

.file-label {
  background: #e4e6eb;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.post-btn {
  background: #1877f2;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.post-btn:hover {
  background: #0f63d6;
}
.comment-section {
  margin-top: 10px;
  padding-top: 8px;
  border-top: 1px solid #eee;
}

.comment {
  font-size: 13px;
  background: #f0f2f5;
  padding: 6px 10px;
  border-radius: 8px;
  margin-top: 5px;
}

.comment-input-box {
  display: flex;
  gap: 6px;
  margin-top: 8px;
}

.comment-input {
  flex: 1;
  border: none;
  background: #f0f2f5;
  padding: 6px 10px;
  border-radius: 20px;
  outline: none;
  font-size: 13px;
}

.comment-btn {
  border: none;
  background: #1877f2;
  color: white;
  padding: 5px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 13px;
}
